@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: "Poppins", sans-serif;
  text-align: left;
  color: white;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #d3d3d3;

}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  display: flex;
  justify-content: center;
  background: #333;
}

.navbar {
  display: flex;
  padding: 0 10px;
  max-width: 1200px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.navbar input#menu-toggler {
  display: none;
}

.navbar #hamburger-btn {
  cursor: pointer;
  display: none;
}

.navbar .all-links {
  display: flex;
  align-items: center;
}

.navbar .all-links li {
  position: relative;
  list-style: none;
}

.navbar .logo a {
  display: flex;
  align-items: center;
  margin-left: 0;
}

header a, footer a {
  margin-left: 40px;
  text-decoration: none;
  color: #fff;
  height: 100%;
  padding: 20px 0;
  display: inline-block;
}

header a:hover, footer a:hover {
  color: #ddd;
}

.homepage {
  height: 100vh;
  width: 100%;
  position: relative;
  background: url("images/DNTn.png");
  background-position: center 65%;
  background-size: cover;
}

.homepage::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.homepage .content {
  display: flex;
  height: 50%;
  z-index: 3;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.homepage .content h1 {
  font-size: 100px;
  font-weight: 700;
  margin-bottom: 10px;
  color: yellow;
  text-shadow: 2px 2px 2px black, -2px -2px 2px black;
}

.homepage .content .text {
  margin-bottom: 50px;
  font-size: 60px;
  text-align: center;
    color: yellow;
    text-shadow: 2px 2px 2px black, -2px -2px 2px black;
}



.content a:hover {
  color: #fff;
  background: rgba(255,255,255,0.3);
}

section {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0;
}

section h2 {
  font-size: 4rem;
  color: yellow;
  text-shadow: 2px 2px 2px black, -2px -2px 2px black;

}

section > p {
  text-align: center;
  font-size: 2rem;
  color: yellow;
  text-shadow: 2px 2px 2px black, -2px -2px 2px black;
}

section .cards {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin-top: 200px;
  padding: 0 10px;
  justify-content: space-between;
  color: yellow;
  text-shadow: 2px 2px 2px black, -2px -2px 2px black;
}

section.about {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  margin-bottom: 30em;
  text-align: left;
  color: white;
  text-shadow: 2px 2px 2px black, -2px -2px 2px black;
  font-size: 20px;
}

.about .company-info {
  margin-top: 450px;
  color: yellow;
  text-shadow: 2px 2px 2px black, -2px -2px 2px black;
  font-size: 40px;
}

.about h3 {
  margin: 0px 0 10px;
}

.about .team {
  text-align: left;
  width: 100%;
}

.about .team ul {
  text-align: left;
}

section .cards .card {
  list-style: none;
  margin-bottom: 40px;
  width: calc(100% / 3 - 30px);
  text-align: center;
}

.Alliance .cards .card {
  padding: 0 0 20px;
}

.guides .card img {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
  border-radius: 100%;
  object-fit: fill;
}

.Alliance .card img {
  width: 100%;
  padding-bottom: 10px;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 7px;
}

.cards .card p {
  padding: 0 15px;
  margin-top: 5px;
}

.about .row {
  padding: 0 10px;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background: #000;
  padding: 20px 0;
}

footer div {
  padding: 0 10px;
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

footer span {
  color: #fff;
}

footer a {
  padding: 0;
}

@media screen and (max-width: 860px) {
  .navbar .all-links {
    position: fixed;
    left: -100%;
    width: 300px;
    display: block;
    height: 100vh;
    top: 75px;
    background: #333;
    transition: left 0.3s ease;
  }

  .navbar #menu-toggler:checked~.all-links {
    left: 0;
  }

  .navbar .all-links li {
    font-size: 18px;
  }

  .navbar #hamburger-btn {
    display: block;
  }

  section > p {
    text-align: center;
  }

  section .cards .card {
    width: calc(100% / 2 - 15px);
    margin-bottom: 30px;
  }

  .homepage .content h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .homepage .content .text {
    font-size: 17px;
  }

  .content a {
    font-size: 17px;
    padding: 9px 20px;
  }

  .contact .row {
    flex-direction: column;
  }

  .contact .row .col {
    width: 100%;
  }

  .contact .row .col:last-child {
    margin-top: 40px;
  }

  footer a {
    height: 0;
  }
}

@media screen and (max-width: 560px) {
  section .cards .card {
    width: 100%;
    margin-bottom: 30px;
  }

}


.contact .row {
  margin: 60px 0 90px;
  display: flex;
  max-width: 1200px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.contact .row .col {
  padding: 0 10px;
  width: calc(100% / 2 - 50px);
}

.contact .col p {
  margin-bottom: 10px;
}

.contact .col p i {
  color: #7a7a7a;
  margin-right: 10px;
}

.contact form input {
  height: 45px;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  outline: none;
  border: 1px solid #fffafa;
}

.contact form textarea {
  padding: 10px;
  width: 100%;
  font-size: 16px;
  height: 150px;
  outline: none;
  resize: vertical;
  border: 1px solid #bfbfbf;

}

.contact form button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 17px;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background: #333;
  transition: 0.2s ease;
}

.contact form button:hover {
  background: #525252;
}
.arts {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  margin-bottom: 30em;
  text-align: left;
  color: white;
  text-shadow: 2px 2px 2px black, -2px -2px 2px black;
  font-size: 20px;
}
@mixin aspect-ratio($width, $height) {
  position: relative;

  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }

  > img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
  }
}
/* Bottom left text */
.DOOMSDAY {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  margin-bottom: 30em;
  margin-top: 200px;
  text-align: left;
  color: white;
  text-shadow: 2px 2px 2px black, -2px -2px 2px white;
  font-size: 100px;
  letter-spacing: .1em;
  text-shadow:
    0 -1px 0 #fff,
    0 1px 0 #2e2e2e,
    0 2px 0 #2c2c2c,
    0 3px 0 #2a2a2a,
    0 4px 0 #282828,
    0 5px 0 #262626,
    0 6px 0 #242424,
    0 7px 0 #222,
    0 8px 0 #202020,
    0 9px 0 #1e1e1e,
    0 10px 0 #1c1c1c,
    0 11px 0 #1a1a1a,
    0 12px 0 #181818,
    0 13px 0 #161616,
    0 14px 0 #141414,
    0 15px 0 #121212,
    0 22px 30px rgba(0, 0, 0, 0.9);
}

/* Top left text */
.LAST {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  margin-top: -30em;
  text-align: left;
  color: white;
  text-shadow: 2px 2px 2px white, -2px -2px 2px white;
  font-size: 100px;
  letter-spacing: .1em;
  text-shadow:
    0 -1px 0 #fff,
    0 1px 0 #2e2e2e,
    0 2px 0 #2c2c2c,
    0 3px 0 #2a2a2a,
    0 4px 0 #282828,
    0 5px 0 #262626,
    0 6px 0 #242424,
    0 7px 0 #222,
    0 8px 0 #202020,
    0 9px 0 #1e1e1e,
    0 10px 0 #1c1c1c,
    0 11px 0 #1a1a1a,
    0 12px 0 #181818,
    0 13px 0 #161616,
    0 14px 0 #141414,
    0 15px 0 #121212,
    0 22px 30px rgba(0, 0, 0, 0.9);
  }


/* Bottom right text */
.WeUnite {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: yellow;
    letter-spacing: .1em;
    text-shadow:
      0 -1px 0 #fff,
      0 1px 0 #2e2e2e,
      0 2px 0 #2c2c2c,
      0 3px 0 #2a2a2a,
      0 4px 0 #282828,
      0 5px 0 #262626,
      0 6px 0 #242424,
      0 7px 0 #222,
      0 8px 0 #202020,
      0 9px 0 #1e1e1e,
      0 10px 0 #1c1c1c,
      0 11px 0 #1a1a1a,
      0 12px 0 #181818,
      0 13px 0 #161616,
      0 14px 0 #141414,
      0 15px 0 #121212,
      0 22px 30px rgba(0, 0, 0, 0.9);
}

/* Centered text */
.DNTn {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  text-align: center;
  font-size: 100px;
  font-weight: bold;
  color: yellow;
    letter-spacing: .1em;
    text-shadow:
      0 -1px 0 #fff,
      0 1px 0 #2e2e2e,
      0 2px 0 #2c2c2c,
      0 3px 0 #2a2a2a,
      0 4px 0 #282828,
      0 5px 0 #262626,
      0 6px 0 #242424,
      0 7px 0 #222,
      0 8px 0 #202020,
      0 9px 0 #1e1e1e,
      0 10px 0 #1c1c1c,
      0 11px 0 #1a1a1a,
      0 12px 0 #181818,
      0 13px 0 #161616,
      0 14px 0 #141414,
      0 15px 0 #121212,
      0 22px 30px rgba(0, 0, 0, 0.9);
}
